@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400&display=swap');

:root {
  --gradient-1: linear-gradient(45deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ffc75f,
      #f9f871);
  --gradient-2: linear-gradient(45deg,
      #f9f871,
      #ffc75f,
      #ff6f91,
      #d65db1,
      #845ec2);
  --gradient-3: linear-gradient(45deg,
      #f9f871,
      #ffc75f,
      #ff6f91,
    );
  --primary: #845ec2;
  --secondary: #ffc75f;
  --tertiary: #d65db1;
}

* {
  padding: 0;
  margin: 0;
  /* width and height of element will include padding and border */
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Mono', 'sans-serif';
  height: 100vh;
  background-color: #F7F7F7;
  word-spacing: -.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.about-me-content {
  font-size: 1.2rem;
  text-align: justify;
  padding-right: 1rem;
}

button {
  border: 0;
  background: none;
  margin: .25rem 0 0 .25rem;
  padding: 0;
  font-size: 1.2rem;
  font-family: 'Noto Sans Mono';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
  min-height: 8rem;
  background-image: var(--gradient-1);
}

header h1 {
  /* background-color: aquamarine; */
  font-size: 2rem;
  /* background-image: var(--gradient-1); */
  background-size: 300%;
  padding-left: 1rem;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* color: var(--gradient-3); */
}

header nav ul {
  display: flex;
}

header nav ul li {
  min-width: 7rem;
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.navActive {
  color: var(--primary);
}

header nav ul li a {
  text-decoration: none;
}

.about {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.2rem;
  text-align: justify;
}

.contact {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: justify;
}

.portfolio {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  font-size: 1.2rem;
  text-align: justify;
  flex: 50%;
  margin-left: 1rem;
}

#contact-form {
  max-width: 50vw;
}

#contact-form label {
  display: block;
  padding: .5rem 0;
}

#contact-form input,
textarea {
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  border-radius: .25rem;
  border: 2px solid #2980b9;
  font-family: 'Noto Sans Mono', 'sans-serif';
}

#contact-form button {
  margin: 1rem 0 0 0;
  padding: .5rem;
  background: var(--primary);
  color: var(--secondary);
  /* makes the text uppercase */
  text-transform: uppercase;
  cursor: pointer;
}

#contact-form button:hover {
  background: var(--tertiary)
}

.item-2 {
  /* flex-grow 1, flex-shrink 0 */
  /* fles-basis is 50% which means starting initial size is 50% of parent minus 1rem for margin */
  /* flex-grow will grow in the direction of the row, right to left */
  flex: 0 0 calc(50% - 1rem);
  /* flex-basis: 50%; */
  min-height: 8rem;
  background-image: var(--gradient-2);
  /* zooms in the image into the div and localizes to certain colors */
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  color: #505050;
}

.project {
  /* flex-grow 1, flex-shrink 0 */
  /* fles-basis is 50% which means starting initial size is 50% of parent minus 1rem for margin */
  /* flex-grow will grow in the direction of the row, right to left */
  flex: 0 0 calc(50% - 1rem);
  /* flex-basis: 50%; */
  min-height: 16rem;
  /* background-image: var(--gradient-2); */
  /* background-image: url(../src/assets/img/marek-piwnicki-Vw608pbz7zs-unsplash.jpeg); */
  /* zooms in the image into the div and localizes to certain colors */
  /* background-size: 125%; */
  /* background-position: left; */
  /* transition: background-position 1s; */
  /* color: #505050; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 1rem;
  /* row-gap: .5rem; */
}

.project:hover {
  opacity: 75%;
}

.textOff {
  display: none;
}

.textOn {
  display: block;
  color: var(--secondary);
}

.pic-2 {
  /* flex-grow 1, flex-shrink 0 */
  /* fles-basis is 50% which means starting initial size is 50% of parent minus 1rem for margin */
  /* flex-grow will grow in the direction of the row, right to left */
  flex: 0 0 calc(50% - 1rem);
  /* flex-basis: 50%; */
  min-height: 8rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-image: url('../other/marek-piwnicki-Vw608pbz7zs-unsplash.jpeg'); */
  /* zooms in the image into the div and localizes to certain colors */
  /* background-size: 300%; */
  /* background-position: left; */
  /* transition: background-position 1s; */
  /* color: #505050; */
}

.img-1:hover {
  opacity: .5;
}

/* .hero {
    display: flex;
    min-height: 16rem;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: var(--gradient-1);
    background-size: 400%;
    /* alternate keyword will move forware with the colors and then move backward instead of starting over again */
/* animation: hero-animation 20s infinite alternate;
} */

/* .hero>div {
    margin: 1rem;
} */

/* .hero-parent {
    min-height: 16rem;
} */

/* .hero-image {
    background-image: url('../img/IMG_20170127_121410_394.jpeg');
    background-size: 130%;
    background-position: top;
    padding: 0 -1rem 0 0 !important;
    border: 0 !important;
    background-repeat: no-repeat;
}

.hero-content {
    justify-content: flex-end;
    align-items: flex-end;
    background-image: var(--gradient-1);
    background-size: 400%; */
/* alternate keyword will move forware with the colors and then move backward instead of starting over again */
/* animation: hero-animation 20s infinite alternate;
    margin-left: 0 !important;
}

.hero-content h2 {
    padding: 1rem;
} */

/* @keyframes hero-animation {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
} */

/* .hero-subtitle {
    font-size: 2rem;
    color: cadetblue;
} */

.section-parent {
  display: flex;
  margin: 1rem 0rem;
}

.section-title {
  /* shorthand for flex-grow flex-shrink flex-basis */
  /* if single unitless value then flex-grow and flex-shrink set to 0 */
  flex: 1;
  border-right: .3rem solid #ffb703;
  text-align: end;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.section-content {
  /* shorthand for flex-grow flex-shrink flex-basis */
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  /* clockwise top, right, bottom, left */
  margin: 0rem 0rem 0rem 1rem;
  /* adds a margin BETWEEN rows in flex items */
  row-gap: 1rem;
  /* adds a margin BETWEEN columns in flex items */
  column-gap: 1rem;
}

.section-content .item-1 {
  /* sets the initial width to 100% of parent container */
  flex-basis: 100%;
  min-height: 8rem;
  background-image: var(--gradient-1);
  /* zooms in the image into the  */
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  color: #303030;
  /* button-specific settings */
}

.item-1:hover {
  background-position: right;
}

.section-content .item-2 {
  /* flex-grow 1, flex-shrink 0 */
  /* fles-basis is 50% which means starting initial size is 50% of parent minus 1rem for margin */
  /* flex-grow will grow in the direction of the row, right to left */
  flex: 1 0 calc(50% - 1rem);
  min-height: 6rem;
  background-image: var(--gradient-2);
  /* zooms in the image into the div and localizes to certain colors */
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  color: #505050;
}

.item-2:hover,
.item-2:focus {
  background-position: right;
}

.resume > * {
  word-spacing: -.25rem;
  margin-bottom: 1rem;
  list-style-position: inside;
}

.footer-nav {
  display: flex;
  flex-grow: 1;
  min-height: 6rem;
  justify-content: center;
}

footer nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  column-gap: 4rem;
}

footer nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

/* apply following settings BELOW 480 px width viewports */
/* phones */
@media all and (max-width: 576px) {

  header nav ul {
    display: block;
  }

  h1 {
    font-size: .75rem;
  }

  .hero-image {
    display: none;
  }
}

/* tablets */
@media all and (max-width: 768px) {
  * {
    font-size: 100%;
  }

  h1 {
    font-size: 1rem;
  }

  header {
    flex-direction: column;
    row-gap: 1rem;
  }

  header nav ul {
    display: block;
  }

  footer {
    flex-direction: column;
    row-gap: 1rem;
  }

  footer nav ul {
    display: block;
  }

  footer nav li {
    margin: 1rem;
  }

  /* .hero {
        min-height: 10rem;
        font-size: 1.8rem;
    } */

  .hero-parent {
    min-height: 10rem;
    flex-direction: row !important;
  }

  /* .hero-image {
        display: none !important;
    } */

  .hero-image {
    padding: 0 !important;
    background-size: 125%;
    background-position: top;
  }

  .hero-content {
    flex: 2;
  }

  .section-parent {
    flex-direction: column;
    row-gap: 1rem;
  }

  .section-title {
    border-bottom: .2rem solid #ffb703;
    border-right: 0;
    text-align: left;
    padding-bottom: .5rem;
    padding-left: .25rem;
  }

  .section-content {
    flex-direction: column;
    margin: 0;
  }

  .section-content p {
    padding-left: .25rem;
  }

  .footer-nav ul {
    display: block;
  }
}

/* laptops */
@media all and (max-width: 992px) {}

/* monitors */
@media all and (max-width: 1200px) {}